<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75276673030-j9skrmljolh3m47pm53mhmrkj62ejph2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75276673030-j9skrmljolh3m47pm53mhmrkj62ejph2</string>
	<key>API_KEY</key>
	<string>AIzaSyBMvWyZAcFW2pGXlzSYsdj6lWwkDQ1HQyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>75276673030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squad5.podcast.podcastApp</string>
	<key>PROJECT_ID</key>
	<string>timkelompok5-57b75</string>
	<key>STORAGE_BUCKET</key>
	<string>timkelompok5-57b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75276673030:ios:962eb951314cf5cf18e387</string>
</dict>
</plist>